{% extends 'layouts/layout.html.twig' %}

{% block body %}
    <div class="content-block">
        <!-- Portfolio  -->
        <div class="section-area section-sp1 gallery-bx">
            <div class="container">
                {% include 'parts/portfolio.part.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}